<ion-header>
  <ion-toolbar>
    <ion-title>revistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
<img src ="https://firebasestorage.googleapis.com/v0/b/chat-875df.appspot.com/o/portadaa.jpg?alt=media&token=add7ae93-aa36-4207-a816-83587ee32c48"/>
<ion-card-content>
<ion-card-title>
TIME Magazine: Guns in America
</ion-card-title>
<p align="center">>
To tell this uniquely American story, TIME partnered with JR, the artist and 
photographer known in part for his murals around the world that portray 
communities in all their complexity. In three U.S. cities profoundly affected 
by guns—Dallas, St. Louis and Washington, D.C.—we invited people to share 
</p>
<ion-button (click)="openBlank()">VER</ion-button>
</ion-card-content>
</ion-card>

</ion-content>
